.board {
    position : relative ;
    box-sizing : border-box ;
    width : 50% ;
}
.board:after {
    content : "" ;
    display : block ;
    padding-bottom : 100% ;
}

.grid {
    position : absolute ;
    display : grid ;
    box-sizing : border-box ;
    width : 100% ;
    height : 100% ;
    padding : 2.5% ;
    background-color : black ;
    grid-template-columns : repeat(3, 1fr) ;
    grid-gap : 2.5% ;
}

.cell {
    background-color: white;
    cursor: pointer;
}

.cell.win {
    background-color: gold;
}

.symbol {
    width : 100% ;
    height : 100% ;
}

.cell.player1 .symbol {
    background-color : red ;
    -webkit-mask-image : url('cross.svg') ;
    -webkit-mask-repeat : no-repeat ;
    -webkit-mask-size : cover ;
    mask-image : url('cross.svg') ;
    mask-repeat : no-repeat ;
    mask-size : cover ;
}
.cell.player2 .symbol {
    background-color : green ;
    -webkit-mask-image : url('circle.svg') ;
    -webkit-mask-repeat : no-repeat ;
    -webkit-mask-size : cover ;
    mask-image : url('circle.svg') ;
    mask-repeat : no-repeat ;
    mask-size : cover ;
}
